<div class="flex flex-col border-2 rounded p-4 shadow w-3/4 xl:w-1/2 mx-auto mt-3">
  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-wrap mb-2">
      <%= form.label :name, class: 'w-full md:w-1/4' %>
      <%= form.text_field :name, class: 'w-full md:w-3/4 ipt-primary' %>
    </div>

    <div class="flex flex-wrap mb-2">
      <%= form.label :description, class: 'w-full md:w-1/4' %>
      <%= form.text_area :description, class: 'w-full md:w-3/4 ipt-primary' %>
    </div>

    <div class="flex flex-wrap mb-2">
      <%= form.label :price, class: 'w-full md:w-1/4' %>
      <%= form.text_field :price, class: 'w-full md:w-3/4 ipt-primary' %>
    </div>

    <div class="flex flex-wrap">
      <%= form.label :quantity_in_stock, class: 'w-full md:w-1/4' %>
      <%= form.number_field :quantity_in_stock, class: 'w-full md:w-3/4 ipt-primary' %>
    </div>

    <div class="w-full mt-3 flex justify-center">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
