<div class="container mx-auto">
  <div class="flex flex-col p-3 bg-gray-300 border rounded my-3">
    <div>
      <strong>Name:</strong>
      <%= @product.name %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= simple_format(@product.description) %>
    </div>

    <div>
      <strong>Price:</strong>
      <%= @product.price %>
    </div>

    <div>
      <strong>Picture:</strong>
      <%- if @product.picture.attached? %>
        <%= image_tag url_for(@product.picture) %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div>
        <strong>Quantity in stock:</strong>
        <%= @product.quantity_in_stock %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center mb-3">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
    <% else %>
      <%= link_to 'Add to Cart', shopping_cart_items_path(product_id: @product.id), method: :post, class: 'btn btn-primary mr-2' %>
    <% end %>
    <%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-secondary' %>
  </div>
</div>
